<!DOCTYPE html>
<html lang="es">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static '/public/Style_Css/style.css' %}">
    <link rel="stylesheet" href="{% static '/public/Style_Css/Style_sheet.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    
    <script src="Js/script.js"></script>
    <script type = "text/javascript" src ="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

    <body id="insheet">
        <section class="coments">
           
            
        </section>

    </body>

</html>